@import "tailwindcss";

.liStyleM {
    margin: 3px;
    color: rgb(53, 49, 49);
    font-weight: bold
}

.liStyleM:hover {
    cursor: pointer;
    background-color: rgba(173, 170, 164, 0.479);
    border-radius: 20%;
}