@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    background-size: max(1000px, 100vw);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;


}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Open Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(43, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.frist {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 18px;
}

section.frist>div {
    display: flex;
    flex-direction: column;
}

section.frist>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.frist>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 32px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    display: flex;
    transition: all;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
footer .que {
    padding: 34px 0;
}
.footer a {

    color: white;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
