*, *::after, *::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-image: url(img/png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#con{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);  
border-radius: 20px;
padding: 25px 15px;
width: 85%;
text-align: center;
}
#con p{
    font-size: 25px;
    font-weight: bold;
    color: #262626;
    margin-bottom: 10px;

}
#con h4{
    background: #262626;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}
#con button{
    display: block;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 10px auto 0;
    cursor: pointer;
}