.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.frist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;

}

.frist span {
    font-size: 40px;

}

section span img {
    width: 82px;
    margin: o 23px;
}

.frist p {
    font-size: 23px;
    width: 47vw;
    text-align: center;
}

.btn {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.btn-small {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.green {
    background-color: #5cb85c;
}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.second {
    max-width: 50vw;
    margin: auto;
}

.item {
    text-align: center;
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding: 36px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;

}

.download :nth-child(2) {
    font-size: 23px;
}
.download img {
    width: 65px;
    padding: 0px 12px;
}
.download {
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}