body {
    text-align: center;
}
button, #form input[type= 'submit'] {
    margin-top: 40px;
    background-color: red;
    padding: 20px 45px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    cursor: pointer;
}

button:hover, #form input[type= 'submit']:hover {
    background-color: #262626;
}

#number {
    background-color: red;
    padding: 30px;
}