* {
  margin: 0;
  padding: 0;
}
.card {
  border: 2px solid black;
  max-width: 23vw;
}

.container {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}

nav, ul {
  display: flex;
  justify-content: center;
  gap: 34px;
  padding: 12px 3px;
  background-color: rgb(58, 58, 56);
  margin-bottom: 9px;
  color: white;
}

li {
  list-style: none;
  cursor: pointer;
}